<ion-header [translucent]="true">
  <ion-toolbar class="bg-indigo-900">
    <div class="flex items-center justify-between w-full">
      <div class="text-white text-lg font-bold ml-4">
        IAnimaux
      </div>
      <ion-buttons slot="end">
        <ion-menu-button class="text-white"></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="text-white font-bold">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/tabs/login">
        <ion-label>Login</ion-label>
      </ion-item>
      <ion-item routerLink="/tabs/register">
        <ion-label>Register</ion-label>
      </ion-item>
      <ion-item routerLink="/tabs/tab3">
        <ion-label>Photo</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>




<ion-content [fullscreen]="true">
  <div class="container">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="login()">Se connecter</ion-button>
    <ion-button expand="full" (click)="logout()">Se deconnecter (pour test)</ion-button>
  </div>
</ion-content>