<ion-header [translucent]="true">
  <ion-toolbar class="bg-indigo-900">
    <div class="flex items-center justify-between w-full">
      <div class="text-white text-lg font-bold ml-4">
        IAnimaux
      </div>
      <ion-buttons slot="end">
        <ion-menu-button class="text-white"></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="text-white font-bold">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/tabs/login">
        <ion-label>Login</ion-label>
      </ion-item>
      <ion-item routerLink="/tabs/register">
        <ion-label>Register</ion-label>
      </ion-item>
      <ion-item routerLink="/tabs/tab3">
        <ion-label>Photo</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" [fullscreen]="true">
  <div class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4 w-full max-w-md m-auto">
    <div class="flex flex-col items-center justify-center min-h-screen bg-white text-center px-4">
      <h1 class="text-4xl font-bold text-indigo-900">IAnimaux</h1>
      <div class="w-20 border-b-4 border-indigo-900 mt-1 mb-8"></div>

      <p class="text-lg font-semibold text-black mb-2">Découvrez les animaux<br>que vous rencontrez !</p>
      <p class="text-sm text-gray-600 mb-12">Une IA qui identifie les animaux autour de vous !</p>

      <button class="bg-indigo-900 text-white font-semibold py-2 px-6 rounded-full">Reconnaître un animal</button>
    </div>
  </div>
</ion-content>
