<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4 w-full max-w-md m-auto">
    <div class="flex flex-col items-center justify-center min-h-screen bg-white text-center px-4">
      <h1 class="text-4xl font-bold text-indigo-900">IAnimaux</h1>
      <div class="w-20 border-b-4 border-indigo-900 mt-1 mb-8"></div>

      <p class="text-lg font-semibold text-black mb-2">Découvrez les animaux<br>que vous rencontrez !</p>
      <p class="text-sm text-gray-600 mb-12">Une IA qui identifie les animaux autour de vous !</p>

      <button class="bg-indigo-900 text-white font-semibold py-2 px-6 rounded-full">Reconnaître un animal</button>
    </div>

  </div>
</ion-content>
